<div class="modal bg-danger-gradient" id="modal_annuler_{{ reservation.id }}">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">Annuler</h4>
        </div>
    </div>

    <div class="modal-body">

    </div>
</div>