<!-- Sidebar Menu -->
<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->

        <li class="nav-item has-treeview menu-open">
            <a href="#" class="nav-link active">
                <i class="nav-icon fa fa-dashboard"></i>
                <p>
                    Tableau de bord
                    <i class="right fa fa-angle-left"></i>
                </p>
            </a>
            {% for role in user.role %}
            {% if role == "ROLE_CLIENT_AVION" %}
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="{{ url('proposer_vol') }}" class="nav-link active">
                        <i class="fa fa-plane nav-icon"></i>
                        <p>Proposer vol</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ url('liste_vols') }}" class="nav-link">
                        <i class="fa fa-circle-o nav-icon"></i>
                        <p>Reserver</p>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
    {% else %}
        <ul class="nav nav-treeview">
            <li class="nav-item">
                <a href="{{ url('liste_vols') }}" class="nav-link">
                    <i class="fa fa-circle-o nav-icon"></i>
                    <p>Reserver</p>
                </a>
            </li>
        </ul>
        </li>
        </ul>
    {% endif %}
    {% endfor %}

</nav>
<!-- /.sidebar-menu -->